#clear {
	clear: both;
}

body {
	background-color: rgb(254, 242, 230);
	font-family: 'Cabin Sketch', cursive;
}

h1 {
	text-align: center;
	font-size: 110px;

	animation-name: fadeInDown;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.box {
	float: left;
	/*margin-left: 50px;
	margin-right: 50px;*/
}

p {
	font-size: 50px;
	text-align: center;
	padding: 0;
}

#box {
	margin-left: 15vw;
}

.red {
	color: rgb(255, 60, 30);
}

.box p {
	margin-top: 120px;
}

.activity {
	/*text-decoration: underline;*/
	text-shadow: 3px 2px red;
}

#footer p {
    margin-top: 5vw;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    text-align: center;
    color: rgb(229, 229, 229);
    font-size: 20px;
    word-spacing: 5px;
}

.shadow {
	text-shadow: 3px 2px red;
}

.sports {
	font-style: italic;
	text-shadow: 3px 2px red;
	font-size: 60px;
}

.time {
	font-style: italic;
	text-shadow: 3px 2px red;
	font-size: 60px;
}

/*My button*/
.button {
  display: inline-block;
  float: left;
  padding: 15px 50px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 100px;
  font-family: 'Cabin Sketch', cursive;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#buttongroup {
	margin-left: 
}







