#clear {
  clear: both;
}

body {
  background-color: rgb(255, 161, 1);
  font-family: 'Cabin Sketch', cursive;
}

#title {
  /*background-color: rgb(255,0,0);*/
}

h1 {
  text-align: center;
  font-size: 80px;
}

#picture {
  text-align: center;
  /*background-color: rgb(0,255,0);*/
  z-index: -1;
}

#group {
  z-index: 99;
}

#button {
  text-align: center;
  padding: 20px;
  /*background-color: rgb(0,0,255);*/
}

.button {
  display: inline-block;
  /*float: left;*/
  padding: 15px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Cabin Sketch', cursive;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box {
  /*width:80px;
  height:80px;*/
  float: left;
  display:none;
}

#box1 {
  /*background-color:red;*/
  margin-left: 10vw;
}

#box2 {
  /*background-color:green;*/
  margin-left: 6vw;
}

#box3 {
  /*background-color:blue;*/
  float: right;
  margin-right: 10vw;
}

#box4 {
  /*background-color:yellow;*/
  float: right;
  margin-right: 8vw;
}

#footer p {
    margin-top: 5vw;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    text-align: center;
    color: rgb(229, 229, 229);
    font-size: 20px;
    word-spacing: 5px;
}












